*{
    box-sizing: border-box;
    
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #131E33;
background: linear-gradient(90deg,rgba(19, 30, 51, 1) 0%, rgba(82, 95, 125, 1) 45%, rgba(165, 170, 184, 1) 79%);
    

}
.background{
    height: 100vh;
    width: 100%;
    background-image: url(../images/ChatGPT\ Image\ May\ 29\,\ 2025\,\ 11_29_51\ AM.png);
    background-size: cover;
    color: white;
}
.one{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 25%;
    padding: 5px;
    



}
.navbar{
    flex-direction: row;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    font-size: 30px;
}
.three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    margin-top: -50px;

}
.four{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -30px;
    width: 10%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;

}

.profile{
    width: 35%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    margin: 30px 0;
}

.background2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}
.skills-section{
    width: 50%;
}
.profile img{
    height: 100vh;
    width: 100%;
    /* background-size: cover; */
    object-fit: cover; 
    border-radius: 20px;
    
    
     
}
.colab-button{
    display: flex;
    width: 100%;
    color: orangered;
    border-radius: 5px;
}
.colab-button button{
    color: #0a66c2;
    background-color: navajowhite;
    width: 30%;
    border-radius: 30px;
    display: flex;
    word-spacing: -20px;
    align-items: center;
    justify-content: center;
    border: none;
    
    
}


.fa-brands{
    margin-right: 10px;
}
.fa-instagram {
    color: red;
}
.but2{
    color: red;
}
.fa-linkedin{
    color: #0a66c2;
}
.but4{
    color: #0866ff;
}
.fa-facebook{
    color: #0866ff;

}
.Button-sector{
    margin-top: 40px;
    margin-left: 15px;

}
button{
    width: 50%px;
    height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    background-color:brown;
    border-radius: 10px;
    border-color: mintcream;
    color: #f1f1f1;
}

.tes1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  margin-left: 20px;
  justify-content: space-between;

}
.para{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    letter-spacing: 1.1px;
    text-align: justify;
}
.mn1{
    margin-left: 10px;
    font-style: oblique;
}
.mn2{
    margin-left: 10px;
    font-style: oblique;

}
.container {
            display: flex;
            width: 100%;
            height: 20vh;
    
        }

        .box {
            display: flex;
            flex: 3;
            margin: 25px;
            padding: 40px;
            border: #ccc;
            border-radius: 30px;
            border-style: double;
            height: 10vh;
            width: 100%;
            font-style: italic;
            font-size: 30px;
            align-items: center;
            justify-content: center;
            background-color:azure;
            
        }
        
        .container1 {
            display: flex;
            width: 100%;
            height: 40vh;
            font-size: 50px;
    
        }

        .box1 {
            display: flex;
            flex: 3;
            margin: 25px;
            margin-top: auto;
            padding: 10px;
            border: #ccc;
            border-radius: 30px;
            border-style: double;
            height: 30vh;
            font-style: italic;
            background-color:azure;
            
        }
        .box1:hover{
            box-shadow: 9px 4px 58px 4px rgba(43,34,34,1);
            -webkit-box-shadow: 9px 4px 58px 4px rgba(43,34,34,1);
            -moz-box-shadow: 9px 4px 58px 4px rgba(43,34,34,1);
        }
        .cert1{
            font-style:unset;
            font-size: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
           
           
        }
        .edu1{
            font-style:unset;
            font-size: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
        }
        .pro1{
            font-style:unset;
            font-size: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
        


        }
        .background-personal{
            background-image: url(../images/hd_background_image.png);
            height: 100vh;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        .address{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 100%;
            
        }
        .contact{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 100%;

        }
        .Email{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 100%;

        }
        .Linkedin{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 100%;
            

        }
        .overall{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;
            width: 80%;
            color:bisque;
            font-style: italic;
            font-size: 20px;
            
            
        }
        
        
        
        
        
        
        
  
  


@media(max-width:1200px){
    .one{
        display: none;
    }
    .navbar{
        justify-content: center;

    }
    .swe1{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 25px;

    }
    .two{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 30px;
        justify-content: space-around;
    }
    .three{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        justify-content: space-around;
        margin: auto;
        

    }
    .four{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        justify-content: space-around;
        margin: auto;

    }
    
    
    
    
    .ser1{
        margin-left: 10px;
    }
    .hr1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1px;
        font-style: italic;
        justify-content: no space-around;
        vertical-align: middle;
        font-size: small
    }
    .flex-container{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-small;
        font: caption;
    }
    .profile img{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100vh;
        background-size: cover;
       
    }
    .para{
        font-size: 32px;
        margin-left: 15px;
        margin-right: 15px;
        font-style:inherit;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .colab-button{
        width: 90%;
        font-size: 25px;
        
    }
    .main-content{
        width: 100%;
        height: 100vh;
        font-size: 35px
        
        
    }
    .background.background-personal{
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    .box1{
        font-size: 100px;
        font-weight: 500;
        height: 30vh;
    }
    
    
}
@media(max-width:600px){
    .flex-container{
        font-family:'Times New Roman', Times, serif;
        font-size: xx-small;
        font: smaller;
        font-size: -10px;
        
    }
    
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

    }
    .main-content{
        font-size: 20px;

    }
    .cont1{
        font-size: 20px;
    }
    .para{
        font-size: 15px;
        letter-spacing: ;
    }
    .ser1{
        font-size: 25px;
    }
    .container{
        width: 10px;
        height: 20vh;
        font-size: 5px;

    }
    .box{
        font-size: 20px;
    }
    .box1{
        width: 15%;
        font-size: 5px;
        height: 25vh;

    }
    .background.background-personal{
        width: 100%;
        height: 100vh;
        background-size: cover;


    }
    
    
}
.management{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    margin-left: 50px;
    margin-top: -40px;
    font-style: inherit;
    font-size: 30px;
    color: whitesmoke;
}

.skill-calculation-section{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
.bar-border{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
}
.bor-bg{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt{
    margin-top: 20px;
    color: bisque;
    
}

.bar-border1{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}

.bor-bg1{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt1{
    margin-top: 20px;
    color: bisque;
}

.bar-border2{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg2{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt2{
    margin-top: 20px;
    color: bisque;
}
.tech{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    margin-left: -80px;
    margin-top: 30px;
    font-style: inherit;
    font-size: 30px;
    color: white;

}
.bar-border3{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg3{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt3{
    margin-top: 20px;
     color: bisque;

}
.bar-border4{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg4{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt4{
    margin-top: 20px;
     color: bisque;

}
.bar-border5{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg5{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt5{
    margin-top: 20px;
     color: bisque;

}
.bar-border6{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg6{
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt6{
    margin-top: 20px;
     color: bisque;

}
.bar-border7{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg7{
    width: 60%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt7{
    margin-top: 20px;
     color: bisque;

}
.bar-border8{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg8{
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt8{
    margin-top: 20px;
     color: bisque;

}
.bar-border9{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg9{
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt9{
    margin-top: 20px;
     color: bisque;

}
.bar-border10{
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #4e5978 ;
    margin-top: 30px;
}
.bor-bg10{
    width: 70%;
    height: 20px;
    border-radius: 10px;
    background-color: #a8acba;
    display: flex;
    justify-content: space-between;
    
}
.opt10{
    margin-top: 20px;
     color: bisque;

}
.ser1{
    color: white;
    font-size: 30px;


}
.container{
    color: black;
    font-weight: bold;
    text-shadow: 4px 5px 22px rgba(0,0,0,0.34);
    cursor: auto;
    
    
}
